<script>
    const width = 200;
    const height = 250;
    const radius = 75;
    const offsetY = 10;
    const offsetLabel = 5;
    const middlepointCords = {x: width / 2, y: height / 2};
    const pathStrokeWidth = 1;
    const pathOpacity = 0.75;

    export let cityName = null;
    export let data = null;

    function calcPosition(c, radius) {
        return {
            x: middlepointCords.x + Math.sin(radius) * c,
            y: middlepointCords.y - Math.cos(radius) * c
        }
    }

    function parseDrawOrder(c, radius, i) {
        let {x, y} = calcPosition(c, radius);
        let firstLetter = i === 0 ? "M" : "L";

        return `${firstLetter} ${x} ${y}`;
    }

    let drawOrderSequenceHeating = null, drawOrderSequenceCooling = null;
    $: if (data) {
        drawOrderSequenceHeating = `${
            data
                .map((entry, i) => parseDrawOrder(entry.heating, entry.time, i))
                .join(" ")
        } Z`;

        drawOrderSequenceCooling = `${
            data
                .map((entry, i) => parseDrawOrder(entry.cooling, entry.time, i))
                .join(" ")
        } Z`;
    }
</script>

<svg {width} {height}>
    <g transform="translate(0, {offsetY})">
        <text 
            class="title"
            x={middlepointCords.x}
            y={(middlepointCords.y - radius) / 2}
        >
            {cityName}
        </text>

        <circle
            cx={middlepointCords.x}
            cy={middlepointCords.y}
            r={radius}
            fill="none"
            stroke="black"
            stroke-width=2
        />

        <line
            x1={middlepointCords.x} 
            y1={middlepointCords.y - radius}
            x2={middlepointCords.x}
            y2={middlepointCords.y + radius}
            stroke="black"
            stroke-width=2
        />

        <line
            x1={middlepointCords.x - radius} 
            y1={middlepointCords.y}
            x2={middlepointCords.x + radius}
            y2={middlepointCords.y}
            stroke="black"
            stroke-width=2
        />

        <text
            class="label"
            x={middlepointCords.x}
            y={middlepointCords.y - radius - offsetLabel}
        >
            0
        </text>

        <text
            class="label"
            x={middlepointCords.x + radius + 1.5 * offsetLabel}
            y={middlepointCords.y + offsetLabel}
        >
            3
        </text>

        <text
            class="label"
            x={middlepointCords.x}
            y={middlepointCords.y + radius + 2.5 * offsetLabel}
        >
            6
        </text>

        <text
            class="label"
            x={middlepointCords.x - radius - 1.5 * offsetLabel}
            y={middlepointCords.y + offsetLabel}
        >
            9
        </text>

        <path 
            d={drawOrderSequenceHeating}
            stroke="red"
            stroke-width={pathStrokeWidth}
            fill="#FF6666"
            opacity={pathOpacity}
        />

        <path 
            d={drawOrderSequenceCooling}
            stroke="blue"
            stroke-width={pathStrokeWidth}
            fill="#99CCFF"
            opacity={pathOpacity}
        />
    </g>
</svg>

<style>
    .title {
        font-size: 2.25em;
        text-anchor: middle;
        vertical-align: bottom;
        fill: currentcolor;
    }
    .label {
        font-size: 0.75em;
        text-anchor: middle;
    }
</style>