<script>
    const scales = ["all", "single"]

    export let cities = [];
    export let citySelected = null;
    export let scaleSelected = "all";

</script>

<div class="col-2" style="padding: 10px 0 0 25px;">
    <div>
        <span class="row">City:</span>
        {#each cities as city}
            <label>
                <input type="radio" bind:group={citySelected} name="city" value="{city}">
                {city}
            </label>
        {/each}
    </div>
    
    <div>
        <span class="row">Scale by:</span>
        {#each scales as scale}
            <label>
                <input type="radio" bind:group={scaleSelected} name="scale" value="{scale}">
                {scale}
            </label>
        {/each}
    </div>
</div>

<style>
    label {
        display: block;
    }
</style>