<script>
    import { select } from "d3-selection";
    import { axisBottom, axisLeft } from "d3-axis";
    import { schemeTableau10 } from "d3-scale-chromatic";
    import { scaleLinear, scaleOrdinal, scaleTime } from "d3-scale";

    const controlsPanelWidth = 150;
    const width = 940 - controlsPanelWidth;
    const height = 250;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;

    const miliseconds_in_hour = 60 * 60 * 1000;
    const startDate = Date.parse("01 Dec 2021 00:00:00 GMT+0200");
    const xAxisHeight = 25;
    const yAxisWidth = 130;
    const yAxisTextWidth = 15;
    const thicknessRange = [0.5, 12.0];

    export let data = null;
    export let citySelected = null;
    export let scaleSelected = "all";

    let buildingTypes = [], durationDays = null, pathGroupHeight = null;
    let dataWithTime = null, dataByBuildingType = null;
    let xScale = null, yScale = null;
    let xAxis = null, yAxis = null;
    let thickScales = [];

    $: if (data) {
        buildingTypes = [...new Set(data.map(entry => entry.buildingtype))];
        durationDays = Math.max(...data.map(entry => entry.day));
        pathGroupHeight = (innerHeight - xAxisHeight) / buildingTypes.length;

        dataWithTime = data.map(entry => {
          entry.time = startDate + (entry.day - 1) * 24 * miliseconds_in_hour + entry.hour * miliseconds_in_hour;

          return entry
        })

        if (citySelected) {
            dataWithTime = dataWithTime.filter(entry => entry.city === citySelected);
        }

        dataByBuildingType = Object.fromEntries(
            buildingTypes.map(buildingType => {
                let subset = dataWithTime.filter(entry => entry.buildingtype === buildingType);

                return [buildingType, subset]
            })
        );

        xScale = scaleTime()
            .domain([startDate, startDate + durationDays * 24 * miliseconds_in_hour])
            .range([0, innerWidth - yAxisWidth - margin.right]);

        yScale = scaleOrdinal()
            .domain(buildingTypes)
            .range([...buildingTypes.keys()].map(i => parseInt(i) * pathGroupHeight));

        if (scaleSelected === "all") {
            let maxHeating = Math.max(...dataWithTime.map(entry => entry.total_heating_energy));

            let thickScale = scaleLinear()
                .domain([0, maxHeating])
                .range(thicknessRange);

            thickScales = Object.fromEntries(buildingTypes.map(buildingType => [buildingType, thickScale]));
        } else {
            thickScales = Object.fromEntries(
                buildingTypes.map(
                    buildingType => 
                    [
                        buildingType, 
                        scaleLinear()
                            .domain([0, Math.max(...dataByBuildingType[buildingType].map(entry => entry.total_heating_energy))])
                            .range(thicknessRange)
                    ]
                )
            );
        }

        xAxis = (node) => axisBottom(xScale)(select(node));
        yAxis = (node) => axisLeft(yScale)(select(node));
    }
</script>

<svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
        {#each buildingTypes as buildingType}
            {#each dataByBuildingType[buildingType] as entry, i}
                {#if i > 0}
                    <line 
                    x1={xScale(dataByBuildingType[buildingType][i - 1].time) + yAxisWidth + margin.left} 
                    y1={yScale(buildingType)}
                    x2={xScale(entry.time) + yAxisWidth + margin.left} 
                    y2={yScale(buildingType)}
                    stroke="black"
                    stroke-width={thickScales[buildingType](entry.total_heating_energy)}
                    stroke-linecap="round"  
                    />
                {/if}
            {/each}
        {/each}
        <g use:xAxis transform="translate({yAxisWidth + margin.left}, {innerHeight - xAxisHeight - margin.top / 2})">
            <text class="axis-label" x={(innerWidth - yAxisWidth) / 2 - margin.right} y={margin.bottom + xAxisHeight}>
                Time
            </text>
        </g>
        <g use:yAxis transform="translate({yAxisWidth + margin.left}, 0)">
            <text
                class="axis-label"
                x={-innerHeight / 2}
                y={-margin.left - (yAxisWidth - yAxisTextWidth)}
                transform="rotate(-90)"
            >
                Building type
            </text>
        </g>
    </g>
</svg>

<style>
    svg {
        border: 1px solid black;
        border-radius: 5px;
    }
    .axis-label {
        font-size: 1.75em;
        text-anchor: middle;
        vertical-align: bottom;
        fill: currentcolor;
    }
</style>