<script>
    import { scaleTime } from "d3-scale";
    import { axisBottom, axisLeft } from "d3-axis";
    import { select } from "d3-selection";

    const width = 200;
    const height = 100;
    const electricityVAdjustFactor = 50;
    const gasVAdjustFactor = 40;

    export let dataByWeek = null;
    export let yScaleElectricity = null;
    export let yScaleGas = null;
    
    let xAxis = null, yAxisElectricity = null, yAxisGas = null;
    let xScale = null;
    let pathElectricityStr = null, pathGasStr = null, pathElectricityStrFill = null, pathGasStrFill = null;
    $: if (dataByWeek) {
        let timeValues = dataByWeek.map(entry => entry.time);
        let timeDomain = [Math.min(...timeValues), Math.max(...timeValues)];

        xScale = scaleTime()
            .domain(timeDomain)
            .range([0, width]);

        xAxis = (node) => axisBottom(xScale).ticks(0)(select(node));
        yAxisElectricity = (node) => axisLeft(yScaleElectricity)(select(node));
        yAxisGas = (node) => axisLeft(yScaleGas)(select(node));

        let minElectricityScaled = yScaleElectricity(Math.min(...dataByWeek.map(entry => entry.electricity)));
        let drawCommandsElectricity = dataByWeek
            .map((entry, i) => `${i == 0 ? "" : "L "}${xScale(entry.time)} ${yScaleElectricity(entry.electricity)}`)
            .join(" ");

        pathElectricityStr = `M ${drawCommandsElectricity}`;
        pathElectricityStrFill = `M ${0} ${minElectricityScaled} ${drawCommandsElectricity} L ${width} ${minElectricityScaled} Z`;

        let minScaledGas = yScaleGas(Math.min(...dataByWeek.map(entry => entry.gas)));
        let drawCommandsGas = dataByWeek
            .map((entry, i) => `${i == 0 ? "" : "L "}${xScale(entry.time)} ${yScaleGas(entry.gas)}`)
            .join(" ");

        pathGasStr = `M ${drawCommandsGas}`;
        pathGasStrFill = `M ${0} ${minScaledGas} ${drawCommandsGas} L ${width} ${minScaledGas} Z`;
    }

</script>

<g>
    <path d="{pathElectricityStr}" fill="none" stroke-width="2" stroke="blue" stroke-linecap="round" transform="translate(0, {electricityVAdjustFactor})"  />
    <path d="{pathElectricityStrFill}" fill="#99CCFF" stroke="none" transform="translate(0, {electricityVAdjustFactor})"  />

    <g use:xAxis transform="translate(0, {height})"></g>
    
    <!-- <g use:yAxisElectricity transform="translate(0, 20)">
        
    </g> -->
</g>

<g transform="translate(0, {2 * height}) scale(1, -1)">
    <path d="{pathGasStr}" fill="none" stroke-width="2" stroke="orange"  stroke-linecap="round" transform="translate(0, {gasVAdjustFactor})"  />
    <path d="{pathGasStrFill}" fill="#EDB693" stroke="none" transform="translate(0, {gasVAdjustFactor})"  />

    <g use:xAxis transform="translate(0, {height})"></g>
    
    <!-- <g use:yAxisGas transform="translate(0, 20)">
        
    </g> -->
</g>

<style>
    
</style>