<script>
    import { onMount } from "svelte";
    import { json } from "d3-fetch";
    import { scaleLinear } from "d3-scale";

    import Leaf from "./_design_3_leaf.svelte";

    const width = 500;
    const height = 600;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;

    const titleSpaceHeight = 100;
    const leafHeight = 60.0;

    const city = "Chicago";
    const startDate = Date.parse("01 Dec 2014 00:00:00 GMT+0200");
    const miliseconds_in_hour = 60 * 60 * 1000;
    const numberOfWeeks = 5;

    // const compareNumeric = (a, b) => {
    //   if (a > b) return 1;
    //   if (a < b) return -1;
    //   return 0;
    // }

    let data = null, dataByWeek = null;
    let yScaleElectricity = null, yScaleGas = null;

    onMount(async () => {
      data = await json("/data/hourly_electricity_vs_gas_december.json");
    });

    $: if (data) {
      let firstWeek = Math.min(...data.map(entry => entry.week));

      let dataProcessed = data
        .map(entry => Object.fromEntries([
          ["week", (entry.week - firstWeek + 1)],
          ["time", startDate + (entry.week - firstWeek) * 7 * 24 * miliseconds_in_hour + (entry.day - 1) * 24 * miliseconds_in_hour + entry.hour * miliseconds_in_hour],
          ["electricity", entry.total_electrity],
          ["gas", entry.total_gas]
        ]));

      let electricityConsumption = dataProcessed.map(entry => entry.electricity);
      let gasConsumption = dataProcessed.map(entry => entry.gas);

      let electricityRange = [0, Math.max(...electricityConsumption)];
      let gasRange = [0, Math.max(...gasConsumption)];

      yScaleElectricity = scaleLinear()
        .domain(electricityRange)
        .range([leafHeight, 0.0]);

      yScaleGas = scaleLinear()
        // .domain([-maxGas, 0])
        // .range([-80.0]);
        .domain(gasRange)
        .range([leafHeight, 0.0]);
      
      dataByWeek = dataProcessed
        .reduce((group, entry) => {
          const { week } = entry;
          group[week] = group[week] ?? [];
          group[week].push(entry);

          return group;
        }, {});
    }
</script>

{#if !data}
    <p>Loading the data, please wait...</p>
{:else}
  <svg {width} {height}>
    <defs>
      <marker id='head' orient="auto"
        markerWidth='3' markerHeight='4'
        refX='0.1' refY='2'>
        <path d='M0,0 V4 L2,2 Z' fill="black"/>
      </marker>
    </defs>

    <g transform="translate({margin.left}, {margin.top})">\
      {#each Object.entries(dataByWeek) as [week, subset]}
        <g transform="translate({innerWidth / 2 + (week % 2 ? -25 : 25)}, {(innerHeight - titleSpaceHeight) * (numberOfWeeks - week) / numberOfWeeks}){week % 2 ? "" : " scale(-1, 1)"}rotate(-20)">
          <Leaf dataByWeek={subset} yScaleElectricity={yScaleElectricity} yScaleGas={yScaleGas} />
        </g>
        <text 
            class="axis-label"
            x={innerWidth / 2 + (week % 2 ? 120 : -120)}
            y={(innerHeight - titleSpaceHeight) * (numberOfWeeks - week) / numberOfWeeks + 130}
          >
          Week {week}
        </text>
      {/each}
      <path
        class='arrow-line'
        marker-end='url(#head)'
        stroke-width='2'
        fill='none' stroke='black'  
        d='M {innerWidth / 2} {innerHeight - titleSpaceHeight + 40} L {innerWidth / 2} 0 '
      />

      <path
        class='arrow-line'
        marker-end='url(#head)'
        stroke-width='1'
        fill='none' stroke='black'  
        d='M 30 420 L 42 325'
      />
      <text
        class="helper"
        x=30
        y=435
      >
        Sunday
      </text>

      <path
        class='arrow-line'
        marker-end='url(#head)'
        stroke-width='1'
        fill='none' stroke='black'  
        d='M 150 470 L 222 395'
      />
      <text
        class="helper"
        x=150
        y=485
      >
        Monday
      </text>

      <text
        class="title"
        x={innerWidth / 2}
        y={innerHeight - margin.bottom}
      >
        {city} (2014)
      </text>
      
      <g id="legend" transform="translate(0, 0)">
        <rect x=0 y=0 width=10 height=10 fill="#99CCFF" stroke-width="2" stroke="blue"></rect>
        <text class="legend-item" x=15 y={margin.top}>Electricity consumption</text>
        <rect x=0 y=15 width=10 height=10 fill="#EDB693" stroke-width="2" stroke="orange"></rect>
        <text class="legend-item" x=15 y={margin.top + 15}>Gas consumption</text>
      </g>

    </g>
  </svg>
{/if}


<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  .axis-label {
    font-size: 1em;
    text-anchor: middle;
    vertical-align: bottom;
    fill: currentcolor;
  }
  .title {
    font-size: 2.25em;
    text-anchor: middle;
  }
  .helper {
    font-size: 0.75em;
    text-anchor: middle;
    vertical-align: bottom;
    fill: currentcolor;
  }
  .legend-item {
    font-size: 0.75em;
    text-anchor: left;
    vertical-align: center;
  }
</style>
