<script>
  import { onMount } from "svelte";
  import { json } from "d3-fetch";
  import { scaleLinear } from "d3-scale";

  import Clock from "./_design_2_clock.svelte";

  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  const clockRadius = 75;

  const firstDate = Date.parse("01 Jan 2014 00:00:00 GMT+0200");
  const milisecondsInDay = 24 * 60 * 60 * 1000;

  let data = null, dataByCity = null;
  onMount(async () => {
    data = await json("/data/daily_heating_cooling.json");
  });

  $: if (data) {
    let maxValue = Math.max(
      ...data.map(entry => Math.max(entry.heating, entry.cooling))
    );

    let timeRange = [
      Math.min(...data.map(entry => entry.day_of_year)),
      Math.max(...data.map(entry => entry.day_of_year))
    ];

    let scaleValue = scaleLinear()
      .domain([0, maxValue])
      .range([0, clockRadius]);

    console.log(timeRange);

    let scaleTime = scaleLinear()
      .domain(timeRange)
      .range([0, 2 * Math.PI]);

    dataByCity = data
      .map(entry => Object.fromEntries([
        ["city", entry.city],
        ["time", scaleTime(entry.day_of_year)],
        ["heating", scaleValue(entry.heating)],
        ["cooling", scaleValue(entry.cooling)]
      ]))
      .reduce((group, entry) => {
        const { city } = entry;
        group[city] = group[city] ?? [];
        group[city].push(entry);

        return group;
      }, {});
  }
</script>

{#if !data}
    <p>Loading the data, please wait...</p>
{:else}
  <svg {width} {height}>
    <defs>
      <marker id='head' orient="auto"
        markerWidth='3' markerHeight='4'
        refX='0.1' refY='2'>
        <path d='M0,0 V4 L2,2 Z' fill="black"/>
      </marker>
    </defs>

    <g transform="translate({margin.left}, {margin.top})">
      {#each Object.entries(dataByCity) as [cityName, subset], i}
        <g transform="translate({i * 190}, 0)">
          <Clock cityName={cityName} data={subset} />
        </g>
      {/each}

      <path
        class="arrow-line"
        d="M 75 110 L 30 70"
        stroke="red"
        stroke-width=1
      />
      <text
        class="legend-item"
        x=30
        y=65
        fill="red"
        text-anchor="middle"
      >
        heating
      </text>

      <path
        class="arrow-line"
        d="M 115 155 L 170 205"
        stroke="blue"
        stroke-width=1
      />
      <text
        class="legend-item"
        x=175
        y=215
        fill="blue"
        text-anchor="middle"
      >
        cooling
      </text>

      <path
        class='arrow-line'
        marker-end='url(#head)'
        stroke-width=1.5
        fill='none' 
        stroke='black'
        d='M 140 60 A 130 50 20 0 1 175 95'
      />

      <text
        class="legend-item"
        x=180
        y=65
        fill="black"
        text-anchor="middle"
      >
        months
      </text>
    </g>

  </svg>
{/if}



<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  .legend-item {
    font-size: 0.75em;
  }
</style>
