<script>
  import { onMount } from "svelte";
  import { json } from "d3-fetch";
  import Plot from "./_design_1_plot.svelte";
  import Controls from "./_design_1_controls.svelte";

  let data = null, cities = [];
  let citySelected = null, scaleSelected = "all";

  onMount(async () => {
    data = await json("/data/hourly_heating_december.json");
    cities = [...new Set(data.map(entry => entry.city))];
    citySelected = cities[0];
  });
</script>

{#if !data}
    <p>Loading the data, please wait...</p>
{:else}
  <Plot data={data} citySelected="{citySelected}" scaleSelected="{scaleSelected}" />
  <Controls cities={cities} bind:citySelected="{citySelected}" bind:scaleSelected="{scaleSelected}" />
{/if}

<style>

</style>
