<p>I <span style="color:red">really</span> like data visualisation!</p>

<style>
    p {
        font-size: large;
        color: gray;
        font-family: 'Times New Roman', Times, serif;
    }
</style>