<script>
    const me = {
        name: "Jakub Cierocki",
        fav_things: ["programming", "history", "photography"]
    }
</script>

<p>My name is {me.name} and these are some of my favourite things: {me.fav_things.join(", ")}</p>
