<script>
  import { extent } from "d3-array";
  import { select } from "d3-selection";
  import { scaleLinear } from "d3-scale";
  import { axisBottom, axisLeft } from "d3-axis";
  import { brush, brushSelection } from "d3-brush";

  // Properties
  export let data = [];
  export let x = (d) => d.x;
  export let y = (d) => d.y;
  export let xLabel = "x";
  export let yLabel = "y";

  export let selectedGlobal = [];
  export let selectedLocal = [];

  // Dimensions
  const width = 400;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 35, left: 45 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Scales
  const xScale = scaleLinear().domain(extent(data, x)).range([0, innerWidth]);
  const yScale = scaleLinear().domain(extent(data, y)).range([innerHeight, 0]);

  // Axes
  const xAxis = (node) => axisBottom(xScale)(select(node));
  const yAxis = (node) => axisLeft(yScale)(select(node));

  const coords = data.map(entry => ({ x: xScale(x(entry)), y: yScale(y(entry))}));

  // Brushing
  // The range of the selection rectangle.
  // If there is no active selection, it contains: null,
  // otherwise, it contains: [ [x0, y0], [x1, y1] ]
  let range = null;

  function updateBrush(node) {
    return brush()
      .on("brush end", (_) => range = brushSelection(node))(select(node));
  };

  $: if (range !== null) {
    selectedLocal = coords.map(c => c.x >= range[0][0] && c.x <= range[1][0] && c.y <= range[1][1] && c.y >= range[0][1]);
  } else {
    selectedLocal = coords.map(() => true);
  }

</script>

<svg viewBox="0 0 {width} {height}" class="mx-2" style="max-width: {width}px">
  <g transform="translate({margin.left},{margin.top})">
    <g use:updateBrush>
      {#each coords as c, i}
        <circle
          cx={c.x}
          cy={c.y}
          r={3}
          fill={selectedGlobal[i] ? "steelblue" : "darkgrey"}
          fill-opacity={selectedGlobal[i] ? "0.5" : "0.3"}
          stroke={selectedGlobal[i] ? "steelblue" : "darkgrey"}
          stroke-width={selectedGlobal[i] ? "1.5" : "0.5"}
          stroke-opacity="1"
        />
      {/each}
    </g>
    <g use:xAxis transform="translate(0, {innerHeight})">
      <text class="axisLabel" x={innerWidth / 2} y={margin.bottom - 5}
        >{xLabel}</text
      >
    </g>
    <g use:yAxis>
      <text
        class="axisLabel"
        y={-margin.left + 10}
        x={-innerHeight / 2}
        transform="rotate(-90)">{yLabel}</text
      >
    </g>
  </g>
</svg>

<style>
  .axisLabel {
    text-anchor: middle;
    vertical-align: bottom;
    fill: currentcolor;
  }
</style>
