<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  let yearsAfter1800 = 0;
  let continent = "all";

  onMount(async () => {
    data = await json("/data/gapminder.json");
  });

  let dataFiltered = null;
  $: if (data) {
    dataFiltered = data.filter(entryYear => entryYear.year == (yearsAfter1800 + 1800).toString(10))[0].countries;
    dataFiltered = dataFiltered.filter(entryCountry => entryCountry.income !== null && entryCountry.life_exp !== null);

    if (continent != "all") {
      dataFiltered = dataFiltered.filter(entryCountry => entryCountry.continent == continent);
    }
  }
  
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={dataFiltered} />
    <Controls data={data} bind:yearsAfter1800="{yearsAfter1800}" bind:continent="{continent}" />
  </div>
{/if}
