<script>
  import { csv } from "d3-fetch";
  import { onMount } from "svelte";
  import Scatter from "./_ex_4_scatter.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await csv("/data/cars-2.csv");
  });

  // Configurations
  const s1 = {
    x: (d) => +d.Horsepower,
    y: (d) => +d.Acceleration,
    xLabel: "Horsepower",
    yLabel: "Acceleration"
  };
  const s2 = {
    x: (d) => +d.Displacement,
    y: (d) => +d.Miles_per_Gallon,
    xLabel: "Displacement",
    yLabel: "Miles per Gallon"
  };

  let selectedLocal1 = null;
  let selectedLocal2 = null;
  let selectedGlobal = null;

  $: if (selectedLocal1 !== null && selectedLocal2 !== null) {
    selectedGlobal = selectedLocal1.map((x, i) => x && selectedLocal2[i]);
  } else if (data) {
    selectedGlobal = data.map(() => true);
  }
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <Scatter {data} {...s1} bind:selectedLocal="{selectedLocal1}" selectedGlobal="{selectedGlobal}" />
  <Scatter {data} {...s2} bind:selectedLocal="{selectedLocal2}" selectedGlobal="{selectedGlobal}" />
{/if}
