<script>
  import { axisLeft, axisBottom } from 'd3-axis';
  import { scaleLinear, scaleLog, scaleOrdinal } from 'd3-scale';
  import { extent } from 'd3-array';
  import { select } from 'd3-selection';
  import { schemeTableau10 } from 'd3-scale-chromatic';

  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  export let data = null;

  let dataFullObs = data.filter(entry => entry.income !== null && entry.life_exp !== null);

  const xScale = scaleLog()
    .base(10)
    .domain([300, 150000])
    .range([0, innerWidth]);

  const xAxis = axisBottom()
    .scale(xScale)
    .tickValues([400, 4000, 40000])
    .tickFormat(x => `$${x}`);

  const yScale = scaleLinear()
    .domain([0, 90])
    .range([innerHeight, 0]);
    
  const yAxis = axisLeft(yScale);

  const sizeScale = scaleLinear()
    .domain(extent(data, entry => entry.population))
    .range([5, 13]);

  const colorScale = scaleOrdinal()
    .domain([...new Set(data.map(d => d.continent))])
    .range(schemeTableau10);

  function addAxes(node) {
    select(node)
      .append("g")
      .call(yAxis)
      .append("text")
      .style("fill", "currentcolor")
      .style("text-anchor", "middle")
      .style("font-size", "1.75em")
      .style("vertical-align", "bottom")
      .attr("transform", "rotate(-90)")
      .attr("x", - innerHeight / 2)
      .attr("y", - 32)
      .text("Life Expectancy");

    select(node)
      .append("g")
      .attr("transform", `translate(0, ${innerHeight})`)
      .call(xAxis)
      .append("text")
      .style("fill", "currentcolor")
      .style("text-anchor", "middle")
      .style("font-size", "1.75em")
      .style("vertical-align", "bottom")
      .attr("x", width / 2 - margin.left)
      .attr("y", 37)
      .text("GDP per Capita");
  };

</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g use:addAxes transform="translate({margin.left}, {margin.top})">
    {#each dataFullObs as entry}
      <circle 
        class="dot" 
        cx={xScale(+entry.income)} 
        cy={yScale(+entry.life_exp)} 
        r={sizeScale(+entry.population)} 
        fill={colorScale(entry.continent)} 
      />
    {/each}

    <text class="time-label" x={innerWidth} y=285>1800</text>
    <text class="title" x={innerWidth / 2} y=0>Gapminder Scatterplot</text>
  </g>
</svg>

<style>
  /* .axis-label {
    font-size: 1.75em;
    vertical-align: bottom;
    fill: "currentcolor";
    text-anchor: "middle";
  } */

  .time-label {
    font-size: 2.25em;
    opacity: .4;
    text-anchor: end;
  }

  .title {
    font-size: 2.25em;
    text-anchor: middle;
  }

  .dot {
    opacity: .8;
  }
</style>
