<script>
  const width = 100;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const square_size = 40;
  const circle_radius = 20;
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <rect x={(width - square_size) / 2 - margin.left} y={(height - square_size) / 2  - margin.top} height={square_size} width={square_size} />
    <circle cx={(width + square_size) / 2 - margin.left} cy={(height + square_size) / 2  - margin.top} r=20 />
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }

  svg g rect {
    fill: yellow;
  }

  svg g circle {
    fill: skyblue;
  }
</style>
