<script>
  import { scaleLog } from 'd3-scale';

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  const circleRadius = 10;

  // Array
  const values = [2, 4, 6, 7, 9];

  const logScaler = scaleLog()
    .domain([1, 10])
    .range([margin.left + circleRadius, width - margin.right - circleRadius])
</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as v}
      <circle cx={logScaler(v)} cy={innerHeight / 2} r=10 />
    {/each}
  </g>
</svg>

<style>
  svg g {
    fill: steelblue;
  }
</style>
