<script>
  import { axisLeft, axisBottom } from 'd3-axis';
  import { scaleLinear, scaleBand } from 'd3-scale';
  import { extent } from 'd3-array';
  import { select } from 'd3-selection';

  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];

  const xScale = scaleBand()
    .domain(data.map(item => item.service))
    .range([0, innerWidth])
    .paddingInner(0.2)
    .paddingOuter(0.2);

  const xAxis = axisBottom(xScale);

  const yScale = scaleLinear()
    .domain(extent(data, item => Math.round(item.viewers)))
    .range([innerHeight, 0]);

  const yAxis = axisLeft(yScale);

  function addAxes(node) {
    select(node)
      .append("g")
      .call(yAxis)
      .append("text")
      .style("fill", "currentcolor")
      .style("text-anchor", "middle")
      .attr("transform", "rotate(-90)")
      .attr("x", - innerHeight / 2)
      .attr("y", - margin.left / 2)
      .text("Viewers (Million)");

    select(node)
      .append("g")
      .attr("transform", `translate(0, ${innerHeight})`)
      .call(xAxis);
  };

</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g use:addAxes transform={`translate(${margin.left},${margin.top})`}>
    {#each data as entry}
      <rect class="bar" x={xScale(entry.service)} y={yScale(entry.viewers)} width={xScale.bandwidth()} height={innerHeight - yScale(entry.viewers)} />
    {/each}
  </g>
</svg>

<style>
  rect.bar {
    fill: steelblue;
  }
</style>


