<script>
    import { onMount } from 'svelte';
    import { json } from 'd3-fetch';
    import Scatterplot from './_ex_7_scatterplot.svelte';

    let data = null;
    onMount(async () => {
        data = await json("/data/gapminder.json");
    });

    $: if (data) {
        data = data
            .filter(entry => entry.year == "1800")[0]
            .countries;
    }
</script>

{#if data}
    <Scatterplot data={data} />
{:else}
    <p>Loading data...</p>
{/if}
